<app-topbar
  [isLoading]="isLoading"
  [searchInput]="searchInput"
  (searchClicked)="onSearch()"
  (queryValueChanged)="onSearchValueChanged($event)"
></app-topbar>
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body is-align-items-center pt-5 px-0 pb-0">
    <div class="container is-fluid px-5">
      <div *ngIf="!artists.length; else artistsTemplate" class="columns is-gapless is-multiline">
        <div class="column has-text-centered">
          <p class="heading">Music DB</p>
          <p class="title is-1">
            Deez.ER
          </p>
          <p class="subtitle pt-4">
            Search for your favorite artist and see <br/> what they're up to...
          </p>
          <nav class="level is-mobile">
            <div class="level-item has-text-centered">
              <ng-lottie width="300px" height="300px" [options]="loadingOptions"></ng-lottie>
            </div>
          </nav>
        </div>
      </div>
      <ng-template #artistsTemplate>
        <ng-container>
          <div class="columns is-multiline">
            <div *ngFor="let artist of artists" class="column is-one-quarter">
              <app-card-artist  [artist]="artist"></app-card-artist>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</section>
