<nav class="navbar is-fixed-top has-border-bottom">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/logo.png" alt="Music app">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarSearchSection" [class.is-active]="isMenuVisible" (click)="toggle();">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarSearchSection" class="navbar-menu" [class.is-active]="isMenuVisible">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <p class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input required class="input is-normal is-rounded" type="text" placeholder="Search"
                                [(ngModel)]="searchInput" (ngModelChange)="onSearchValueChanged($event)">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>