<a [routerLink]="detail">
  <div class="card">
    <div class="card-artist-header" [style]="headerStyle">
      <div class="card-artist-header-slanted-edge"></div>
    </div>
    <div class="card-content">
      <div class="content is-small">
        <h6>{{ artist?.name }}</h6>
        <p><strong>{{ artist?.nb_fan | shortNumber }}</strong> Fans</p>
        <p class="is-hidden-touch">
          <strong>{{ artist?.nb_album | shortNumber }}</strong> Albums
        </p>
      </div>
    </div>
  </div>
</a>
